<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(succsesMessage.length > 0){ %>
                    <div class="succses-message" class="centered">
                        <%=succsesMessage%>
                    </div>
                    <% } %>
                        <div class="header">
                            <a class="btn" class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">+ Create Product
                        </a>
                        </div>
                        <% if (prods.length > 0) { %>
                            <h1>PRODUCTS</h1>
                            <table id="customers">
                                <tr>
                                    <th>ID</th>
                                    <th>IMAGE</th>
                                    <th>NAME</th>
                                    <th>PRICE</th>
                                    <th>CATEGORY</th>
                                    <th></th>
                                </tr>
                                <% for (let product of prods) { %>
                                    <tr>
                                        <td>
                                            <%= product._id %>
                                        </td>
                                        <td>
                                            <img class="card-image" src="..<%= product.imageUrl.slice(6) %>" alt="<%= product.title %>">
                                        </td>
                                        <td>
                                            <%= product.title %>
                                        </td>
                                        <td>
                                            <%= product.price %>
                                        </td>
                                        <td>
                                            <%= product.category %>
                                        </td>
                                        <td>
                                            <div class="card__actions">
                                                <input type="hidden" value="<%=product._id%>" name="productId">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                                                <a href='edit-product/<%=product._id%>?edit=true' class="btn"><i class="fa fa-edit"></i></a>
                                                <button class="btn-delete" type="btn" onclick="deleteProduct(this)"><i class="fa fa-trash"></i></button>
                                            </div>

                                        </td>
                                    </tr>
                                    <%}%>
                            </table>
                            <% } else { %>
                                <h1>No Products Found!</h1>
                                <% } %>
            </main>
            <%- include('../includes/end.ejs') %>
                <script src="/js/admin.js"></script>