<article class="card product-item">
    <header class="card__header">
        <div class="card__header">Product Creator :
            <%=req.request.userName%>
        </div>

    </header>
    <div class="card__image">
        <!--<img src="..<%= req.request.product.imageUrl.slice(6)%>" alt="<%= product.title %>">
        -->
    </div>
    <div class="card__content">
        <h2 class="product__price">$
            <%= req.request.product.price %>
        </h2>
        <h5 class="product__description">
            <%= req.request.product.description %>
        </h5>
    </div>
</article>